<div class = "top">
<div class = "home"><a href = "/">HOME</a></div>
<div class = "signIn-signUp">
    <%= link_to 'sign-in', blogout_main_signin_path %>
    <%= link_to 'sign-up', blogout_main_signup_path  %>
</div>
</div>

<div class = "form">
<%= form_for(:blog, url: sessions_post_path) do |f| %>

    <%= f.label :subject %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>

    <%= f.submit "post", class: "btn btn-primary" %>
<% end %>
</div>